<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96881571850-kchjagoa58fqgn0eprij7mdcrql41l29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96881571850-kchjagoa58fqgn0eprij7mdcrql41l29</string>
	<key>API_KEY</key>
	<string>AIzaSyCQvYvRYqmBO1xSrVzzMqAVGnacrOHR72w</string>
	<key>GCM_SENDER_ID</key>
	<string>96881571850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kenneth.com.healthyLifestyleApp</string>
	<key>PROJECT_ID</key>
	<string>healthy-lifestyle-app-c64f4</string>
	<key>STORAGE_BUCKET</key>
	<string>healthy-lifestyle-app-c64f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96881571850:ios:7b1530aeb00563d10387f3</string>
	<key>DATABASE_URL</key>
	<string>https://healthy-lifestyle-app-c64f4.firebaseio.com</string>
</dict>
</plist>